@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnrollStudent</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("DeleteEnrolledStudent", "Faculty", new { semNo = ViewBag.semno, subId = ViewBag.sid, fid = ViewBag.id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h4>Based On Your Selection Students Will Be Removed!</h4>
        <br />

        @{ Html.RenderAction("RenderBranch"); } &nbsp;

        @{ Html.RenderAction("RenderDivision"); } &nbsp;

        @{ Html.RenderAction("RenderBatch"); } &nbsp;

        <br />
        <br />
        <br />
        <input type="submit" value="Remove" class="btn btn-default" /> &nbsp; | &nbsp;
        @Html.ActionLink("Back to List", "ViewEnrolledStudent", new { semno = ViewBag.semno, sid = ViewBag.sid, id = ViewBag.id })
    </div>
    
    }

</body>
</html>
