@model OnlineTermWorkSubmission.Models.Faculty

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h3>FACULTY INDEX</h3>

</div>

<div>
    @Html.ActionLink("View Students", "ViewStudent", new { id = ViewBag.id })  |


    @Html.ActionLink("View Subjects", "ViewSubject", new { id = ViewBag.id })  |


    @Html.ActionLink("Logout", "Logout") 

</div>





