@model OnlineTermWorkSubmission.Models.Branch
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RenderBatch</title>
</head>
<body>
    <div>
        @Html.DropDownList("Branch_Id", ViewBag.Branch as IEnumerable<SelectListItem>, "Select Branch")
    </div>
</body>
</html>
