@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our Online Termwork Submission Application is provides to submit/upload lab term work at college level.</p>

<div class="form-actions no-color">
    @Html.ActionLink("Home", "Logout", "Student")
</div>
