@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dharmsinh Desai University<br />
    College Road, Nadiad, Gujarat, India<br />
    <abbr title="Phone">P: 8141589785</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:parthbaudhanwala45@gmail.com">parthbaudhanwala45@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:meetcharola144@gmail.com">meetcharola144@gmail.com</a>
</address>

<div class="form-actions no-color">
    @Html.ActionLink("Home", "Logout", "Student")
</div>