
h1 {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
}
h3 {
    margin-top: -52px;
    padding: 100px;
}
.searchbar {
    margin-top: 20px;
    height: 60px;
    background-color: #333333;
    border-radius: 30px;
    padding: 10px;
}
.searchbar>.search_icon {
    color: white;
}
.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s ease-in-out;
}
.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s ease-in-out;
}
.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
    cursor: pointer;
}
.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
#cd0 {
    padding: 100px;
    margin-top: -190px;
}
#cds0 {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
footer {
    text-decoration-style: solid;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: -50px;
}
